<!-- <!DOCTYPE html>
<html>
<head>
  <title>Register</title>
</head>
<body>
  <h1>Register</h1>

  <form>
    <div>
      <label for="firstname">First Name:</label>
      <input type="text" name="firstname" id="name" required placeholder="Shiva">

      <label for="lastname">Last Name:</label>
      <input type="text" name="lastname" id="lastname" required placeholder="Samkaria">
    </div>	
    <div>
      <label for="male">Male:</label>
      <input type="radio" name="gender" value="male" id="male">

      <label for="female">Female:</label>
      <input type="radio" name="gender" id="female" value="female">

      <label for="other">Other:</label>
      <input type="radio" name="gender" id="other" value="other">

    </div>
    
    <label for="email">Email:
    <input type="email" name="email" pattern=".+.com" id="email" size="40" placeholder="your email">
  </label>
    <label>Password:
    <input type="password" name="password" required pattern=".{5,8}" title="enter 5 to 8 characters" placeholder="Password">
  </label>
    <div>
      <select name ="Day">
      <option value="Day">Day</option>
      <option value="1">1</option>
    </select>
    <select name ="Month">
      <option value="Month">Month</option>
      <option value="October">October</option>
    </select>
    <select name ="Year">
      <option value="Month">Year</option>
      <option value="1990">1990</option>
    </select>
    
    </div>
    <div>
    <label for="agreed">I agree with Terms and Conditions: 
      <input id="agreed" type="checkbox" name="agreed" required></label>
    </div>
      <input type="submit" name="submit">

    </form>

  </body>
  </html> -->