<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <h1>Java for Testers</h1>
  <a href="https://www.google.com">Click me for Google</a>
  <ul>
    <li>Apples</li>
    <li>Oranges</li>
    <li>Bananas</li>
  </ul>

  <h4>Popular Sites</h4>
  <ul>
    <li>Carrots</li>
    <li>Peas</li>
    <li>Asparagus</li>
  </ul>
  <h4>Popular Sites</h4>
  <ul>
    <li><a href="https://www.google.com">Google</a></li>
    <li><a href="https://www.facebook.com">facebook</a></li>
    <li><a href="https://www.linkedin.com/">LinkedIn</a></li>
  </ul>
</body>

</html>