<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="jumbotron">
    <h1 class="display-4">TRAIL AND ERROR HERE!</h1>
    <p class="lead">This is the backup of all the content that I continuosly learn...This acts also as a future referneces</p>
    <hr class="my-4">
    <p>Every new exercises or things that I learn go here.</p>
    <a class="btn btn-primary btn-lg" role="button" disabled>Learn more</a>
  </div>
  <div class="container">
    <button type="button" class="btn btn-primary" routerLink="git"> Git</button>
    <button type="button" class="btn btn-secondary" routerLink="aboutme">About Me</button>
    <button type="button" class="btn btn-success" routerLink="javafortesters">Java For Testers</button>
  </div>
</body>

</html>