<!DOCTYPE html>
<html>
<head>
	<title>Git for Testers</title>
</head>
<!-- <body>
  <h1>Rusty Steele</h1>
  <p>Hi I am a tester</p>
  <img src="https://images.unsplash.com/photo-1545177693-466cc24acb1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="">
  <h3>Some of my favourite commands</h3>
  <ul>
    <li>Git init</li>
    <li>git status</li>
    <li>git diff</li>
  </ul>
  <p>Make sure to follow me on <a href="http://google.com">Google</a></p>
</body> -->
<body>
  <h1>Git Cheat List</h1>
  <table border="1">
  <thead>
    <tr>
    <th>SNO</th>
    <th>SNO</th>
    <th>SNO</th>
    <th>SNO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="https://grid.gograph.com/bear-silhouette-stock-image_gg102300238.jpg" alt=""></td>
      <td>sample name</td>
      <td>sample type</td>
      <td><a href="http://google.com">Ivysaur</a></td>
    </tr>
    <tr>
        <td><img src="https://grid.gograph.com/bear-silhouette-stock-image_gg102300238.jpg" alt=""></td>
        <td>sample name</td>
        <td>sample type</td>
        <td><a href="http://google.com">Ivysaur</a></td>
      </tr>
      <tr>
          <td><img src="https://grid.gograph.com/bear-silhouette-stock-image_gg102300238.jpg" alt=""></td>
          <td>sample name</td>
          <td>sample type</td>
          <td><a href="http://google.com">Ivysaur</a></td>
        </tr>
        <tr>
            <td><img src="https://grid.gograph.com/bear-silhouette-stock-image_gg102300238.jpg" alt=""></td>
            <td>sample name</td>
            <td>sample type</td>
            <td><a href="http://google.com">Ivysaur</a></td>
          </tr> 
  </tbody>
</table>
</body>
</html>